@font-face {
  font-family: "Coding";
  font-display: fallback;

  src: url("./D2Coding.ttf") format("truetype"),
    url("./D2Coding.woff") format("woff"),
    url("./D2Coding.eot") format("embedded-opentype");

  font-style: normal;
}
@font-face {
  font-family: "Lolfont";
  font-display: fallback;

  src: url("./LOL.ttf") format("truetype"), url("./LOL.woff") format("woff"),
    url("./LOL.eot") format("embedded-opentype");

  font-style: normal;
}
@font-face {
  font-family: "Discord";
  font-display: fallback;

  src: url("./Discord.ttf") format("truetype"),
    url("./Discord.woff") format("woff"),
    url("./Discord.eot") format("embedded-opentype");

  font-style: normal;
}
@font-face {
  font-family: "DiscordBold";
  font-display: fallback;

  src: url("./DiscordBold.ttf") format("truetype"),
    url("./DiscordBold.woff") format("woff"),
    url("./DiscordBold.eot") format("embedded-opentype");

  font-style: normal;
}
@font-face {
  font-family: "Bazzi";
  font-display: fallback;

  src: url("./Bazzi.ttf") format("truetype"), url("./Bazzi.woff") format("woff"),
    url("./Bazzi.eot") format("embedded-opentype");

  font-style: normal;
}
